/* #region GLOBAL STYLES */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

a {
  text-decoration: none;
}

button {
    color: #fff;
    font-family: inherit;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* #endregion GLOBAL STYLES */

/* #region header */

.page-header {
    border-bottom:  1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {    
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-part-dark {
    color: #4d5ae5;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {}

.nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;


    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
    
    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
    opacity: 1;
}


.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;    
}

.contacts-item {}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-logo .logo-part-dark {
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:active,
.contacts-link:active {
    text-decoration: underline;
    transition: text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion header */


/* #region hero */

.section.hero {
    color:  #f4f4fd;
    width: 100%;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
           url(../images/hero/people-office.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;

}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    text-align: center;
    /* padding: 188px 0; */
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    text-align: center;
    margin: auto 0;
    
}

.hero-btn {   
    display: block; 
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: #fff;
    border: none;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion hero */



.team-title,
.features-title,
.portfolio-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

/* #region feauture */

.features {
    padding: 120px 0;
}

.features-container {
    display: flex;
    justify-content: space-between;
    max-width: 1158px;
}

.features-subtitle {
    margin-bottom: 8px;
}

.feautures-list {
    display: flex;
    gap: 24px;
    max-width: 1128px;
    justify-content: center;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.featureres-box-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 24px 0;
    height: 112px;
    margin-bottom: 8px;
}

.featureres-icon {
    padding: 24 auto;
}

.features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 8px;

}

.features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/* #endregion feauture */

/* #region team  */

.section {}

.team {
    background: #f4f4fd;
}

.container {}

.container-team {
    margin: auto;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px 
}

.team-item {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-ill {}

.team-item-content {
    padding: 32px 0;    
}

.team-subtype {    
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    padding: 8px 0 8px ;}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 50%;

}

.icon-soc {
    fill: #F4F4FD;
}

.team-social-link:hover,
.team-social-link:focus,
.contacts-link:active {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion team  */

/* #region portfolio  */
.section {}

.portfolio {}

.container {}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay{
    
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-tumba {
    position: relative;
    overflow: hidden;
}

.portfolio-ill {}

.overlay {
    background-color: #4d5ae5;
    font: 400 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.portfolio-text-block {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio-text-block:hover,
.portfolio-text-block:focus {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;

    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-left 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-right 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* #endregion portfolio  */

/* #region footer */

section {}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.container {}

.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 120px;
}

.footer-content {
    max-width: 264px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    margin-right: 120px;
 }

.footer-logo-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-part-light {
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px
}

.footer-social-media {}

.footer-soc-head {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    padding: 16px 0 8px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #4D5AE5;
    border-radius: 50%;

}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: #F4F4FD;
}


/* #endregion footer */